.vscode
.ipynb_checkpoints
diplom_django/diplom_django/__pycache__/
diplom_django/furniture_monitoring/__pycache__/
diplom_django/furniture_monitoring/migrations/__pycache__/
*.py[cod]
*$py.class
__pycache__/
upd.ps1
worker/result.mp4
