numpy<1.24
torch 
torchvision 
cython_bbox 
onemetric 
loguru 
lap 
thop 
opencv-python 
ultralytics 
supervision==0.1.0 
scikit-image 
ninja 
tabulate 
tensorboard 
motmetrics 
filterpy 
h5py 
onnx==1.9.0 
onnxruntime 
onnx-simplifier==0.3.5 
ipywidgets