numpy<1.24
torch 
torchvision 
lap
onemetric 
loguru 
cython_bbox
thop 
opencv-python 
ultralytics 
supervision==0.1.0 
scikit-image 
ninja 
tabulate 
tensorboard 
motmetrics 
filterpy 
h5py 
onnx
onnxruntime 
onnx-simplifier==0.3.5 
ipywidgets
tensorrt==8.5.2.2
aioredis
asyncio
pydantic
onnxruntime-gpu
