.dropdown-btn {
    background-color: #0087c0;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 250px;
    text-align: left;
}

.dropdown-btn:after {
    content: '\25BC';
    float: right;
}

.dropdown-content {
    display: none;
    color: rgb(32, 30, 30);
    background-color: #c7c2c2;
    width: 250px;
    z-index: 1;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.dropdown-content li:last-child {
    border-bottom: none;
}

.show {
    display: block;
}
