{% extends 'furniture_monitoring/base.html' %}
{% load static %}

{% block title %}
    {% if floor.isdigit %}
        Аналитика {{ floor }} этажа
    {% else %}
        Аналитика улицы
    {% endif %}
{% endblock title %}

{% block header_title %}
    {% if floor.isdigit %}
        Аналитика {{ floor }} этажа
    {% else %}
        Аналитика улицы
    {% endif %}
{% endblock header_title %}

{% block content %}
    <div class="three-frame-layout">

        <div class="frame left-frame">
            <h2 class="frame-header">Выбор помещения</h2>
            <hr size="1" color="#000000">
            <br>
            <ul>
                {% for place, cameras in places_and_cameras.items %}
                    <li>
                        <button class="place-btn" onclick="loadPlaceData('{{ place.id }}')">{{ place.name }}</button>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="frame center-frame">
            <h2 class="frame-header">Объекты в помещении</h2>
            <hr size="1" color="#000000">

            <br>
            <table id="place-details">
                <thead>
                    <tr>
                        <th>Объект</th>
                        <th>Количество</th>
                    </tr>
                </thead>
                <tbody id="place-details-body">
                    {% if items != 0 %}
                        {% for item in items %}
                            <tr>
                                <td>{{ item.object }}</td>
                                <td>{{ item.count }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2">Нет данных</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="frame right-frame">
            <h2 class="frame-header">История событий</h2>
            <hr size="1" color="#000000">
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Объект</th>
                        <th>Перемещен из</th>
                        <th>Перемещен в</th>
                        <th>Время</th>
                    </tr>
                </thead>
                <tbody id="event-history-body">
                    {% if events != 0 %}
                        {% for event in events %}
                            <tr>
                                <td>{{ event.object }}</td>
                                <td>{{ event.from_place }}</td>
                                <td>{{ event.to_place }}</td>
                                <td>{{ event.frame }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">Нет данных</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function loadFloorData(floor) {
            $.ajax({
                type: 'POST',
                url: window.location.pathname,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    'place_id': '',
                },
                success: function(response) {
                    updateContent(response);
                }
            });
        }

        function loadPlaceData(place_id) {
            $.ajax({
                type: 'POST',
                url: window.location.pathname,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    'place_id': place_id,
                },
                success: function(response) {
                    updateContent(response);
                }
            });
        }

        function updateContent(data) {
            // Обновляем название выбранного помещения
            $('#selected-place-name').text(data.place_id);
        
            // Очищаем таблицу деталей объекта перед добавлением новых данных
            $('#place-details-body').empty();
        
            // Если есть данные для таблицы деталей объекта, добавляем их
            if (data.items == 0) {

                var row = "<tr><td colspan='2'>Нет данных</td></tr>";
                $('#place-details-body').append(row);

            } else {
                for (var i = 0; i < data.items.length; i++) {
                    var item = data.items[i];
                    var row = '<tr><td>' + item.object + '</td><td>'+ item.count +'</td></tr>';
                    $('#place-details-body').append(row);
                }

            }
        
            // Очищаем историю событий перед добавлением новых данных
            $('#event-history-body').empty();
        
            // Добавляем новые строки в таблицу истории событий

            if (data.events == 0) {
                // Логика для пустого списка
                var row = "<tr><td colspan='4'>Нет данных</td></tr>";
                $('#event-history-body').append(row);
            } else {
                for (var i = 0; i < data.events.length; i++) {
                    var event = data.events[i];
                    var row = '<tr><td>' + event.object + '</td><td>' + event.from_place + '</td><td>' + event.to_place + '</td><td>'+ event.frame +'</td></tr>';
                    $('#event-history-body').append(row);
                }

            }
        }
    </script>
{% endblock content %}