{% extends 'furniture_monitoring/base.html' %}

{% block title %}
  {{ table_name }}
{% endblock %}

{% block content %}
  <div class="main-content">
    <h1>{{ table_name }}</h1>
    <table>
      <thead>
        <tr>
          {% for column_name in column_names %}
            <th>{{ column_name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          <tr>
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

